@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Kaushan+Script&family=Lobster&family=Nunito&family=Quicksand:wght@300&family=Roboto:wght@100&family=Rouge+Script&family=Sulphur+Point:wght@300&family=Tangerine&display=swap');*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .search-bar button{
    height: 20px;
    width: 20px;
    border: 0.1px solid #000;
    border-radius: 25px;
    cursor: pointer;
    background: #e1edf4;
    transition: 0.3s;
}
.container .search-bar button:hover{
    background: #b6ddf3;
    transition: 0.3s;
}
.container .search-bar img{
    height: 10px;
    width: 10px;
}
.container .search-bar input[type=text]{
    border: 0.4px solid #000;
    border-radius: 7px;
    background: rgb(255, 255, 255);
    margin: 10px;
    font-family: 'Sulphur Point', sans-serif;
    text-align: center;
    text-decoration: none;
}
.container .location {
    margin-bottom: 60px;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
}
.container .location img{
    width: 28px;
    height: 28px;
    padding-right: 5px;
}
.wicon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wicon img{
    width: 50px;
    height: 50px;
}
.wicon #temp{
    font-size: 50px;
    font-family: 'Sulphur Point', sans-serif;
    text-align: center;
}
.wicon #status{
    font-size: 20px;
    font-family: 'Sulphur Point', sans-serif;
}
.extras{
    padding:40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.extras .day{
    margin-top: 10px;
    width:150px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
}
.extras .day img{
    height: 20px;
    width: 20px;
}